html{
    background: black;
    color: white;
    text-align: center;
}
nav{
  position: absolute;
  top: 10px;
}
nav ul li{
  display:inline;
  margin-left: 5px;
  margin-right: 5px;
}
body{
  margin-top: 10%;
}
footer{
    margin-top: 15%;
}
.invisible
{
    visibility: hidden;
}

.problem
{
    font-size: 200%;
}

.nice
{
    color: green;
    font-size: 200%
}

.tryAgain
{
    color: red;
    font-size: 200%
}
.section
{
  height=20px;
}
.devTool
{
    background-color: green;
    border: none;
}
.material
{
  margin-left: auto;
  margin-right: auto;
}
.footer
{
  position: absolute;
  bottom: 10px;
}
