
/* Global styles
------------------------------------*/
* {
    /* box-sizing: border-box; */
    scroll-behavior: smooth;

  }
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0px;
    /* background-color: #FAFAFA; */
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Shadows Into Light', cursive; */
  }






a:visited {
	color:black;
	text-decoration: none;
	}

a:hover {
    color: black;
    text-decoration: none;
	 }

a:link {
    color: black;
    text-decoration: none;
   }


   .txt-green a:link{
    color: #18A2B8!important ;
  }
  .txt-green a:visited{
    color: #18A2B8!important ;
  }
  .txt-green a:hover{
    color: #18A2B8!important ;
    text-decoration: none!important;
  }
  .txt-bold{
    font-weight: 900!important;
  }

  h1 {
    /* font-weight: bold;
    font-size: 60px;;
    color: white; */
  }

  /* .clear:after {         ????????????????
    clear: both;
    content: " ";
    display: table;

  } */

.float-l-css{
    float: left;
}
.float-r-css{
    float: right;
}

ul{
    list-style-type: none;
}


ul li{
  display: inline;
}

.m00{
  margin: 0;
}
.p00{
  padding: 0;
}
.mt25{
  margin-top: 25px;
}
.mt50{
  margin-top: 50px;
}
.mt75{
  margin-top: 75px;
}
.mt100{
  margin-top: 100px;
}
.m0a{
  margin: 0 auto;

}
.boxShadow{
box-shadow: 5px 10px 18px #888888;
}
.bg-light-css{
  background-color: #FAFAFA;
}
.bg-light-css{
  background-color: #FAFAFA;
}
.zin-1 {
  z-index: 1;
  position: relative;
}


     /* Testing
------------------------------------*/
  .red{
    background-color: red;
}
  .gry{
    background-color:gray;
  }
   .yel{
    background-color:yellow;
  }

/* Header
------------------------------------*/
header{
    background-color: #FAFAFA;
    min-height:768px;

}
nav{
      font-size: 18px;
      padding-left: 90px;
      padding-right: 90px;
      padding-top: 20px;
      height: 75px;;
      color: black;
      font-family: 'Raleway', sans-serif;
  }

  .logo{
      position: relative;
      float: left;
      width: 300px;

  }


  /* Main Section
------------------------------------*/
main {
  /* display:block; */
}

.main-css {
  min-height: 677px ;
}

.sec1{
    min-height: 650px ;
    background-color: #FAFAFA;

}
.sec1-img1{
    width: 350px;
}
.sec1-txt{
  width: 60%;
  min-height: 200px ;
}


.sec2{
  min-height: 683px;

}
.sec2-l{

  /* padding-top: 150px; */
  line-height: 200%;
  font-size:100px;
  padding-top: 70px;
  /* padding: auto 50px; */
}

.sec2-l-txt{
  height: 500px;
  width: 500px;
  padding-top: 150px;
  line-height: 200%;
  font-size: 50px;
  color: white;
}
.sec2-l-txt h1{
  /* font-size: large; */
}

.sec2-r-img1{
width: 550px;
}
.sec2-r-img2{
width: 210px;
}

.sec3{
  min-height: 850px;
  background-color: #FAFAFA;

}

.sec3-txt{
  width: 450px;
  height: 450px;
  background-color: white;
}
.sec3-img1{
  width: 380px;
  margin-top: 150px;
  }
.img-pi{
  height: 150px;

}


/* Footer
------------------------------------*/

.footer{
    background-color: #3A3A3A;
    height:240px ;
    color: white;
    }
    .padding-top{
        padding-top: 75px;
    }

    footer ul li a{
        padding-left: 10px;
        padding-right: 10px;
        padding: 10px;
        color: white;

    }

    footer ul li a:visited {
        color:white;
        text-decoration: none;
        }

    footer ul li a:hover {
        color: white;
         }

    footer ul li a:link {
        color: white;
        text-decoration: none;
         }



/* Login
------------------------------------*/
.wrapper-login{
  width: 450px;
  padding: 20px;
  margin-top: 20px;
  /* margin: 10% auto; */
  /* background-color: yellow; */

 }


 /* Setting
------------------------------------*/
.wrapper-account{
  width: 70%;
  /*min-height: 600px;*/
  padding: 20px;
  margin-top: 20px;
  /* margin: 10% auto; */
  /* background-color: yellow; */

 }
 .wrapper-frame{
  width: 650px;
  /* min-height: 600px;
  padding: 20px;
  margin-top: 20px; */
 }



 /* Practice section
------------------------------------*/
 #contBut {
  width: 30%;
  background-color: #51a6f5;
  color:white;
}
#contBut:hover {
  background-color: #3a7ab5;
}
.invisible
{
    visibility: hidden;
    height: 0;
}
.formWrap
{
  width: 45%;
  background-color: #2b2b2b;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  border-radius: 25px;
}
.explain
{
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
.flowRight
{
    margin-right: 5%;
    width: 40%;
    float: right;
}
.flowLeft
{
  margin-left: 5%;
    width: 40%;
    float: left;
}
.problem
{
    font-size: 200%;
}

.nice
{
    color: green;
    font-size: 200%
}

.tryAgain
{
    color: red;
    font-size: 200%
}
.section{
}
.sectionWrapper
{
  width: 40%;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0;
  text-align: left;
}
#canvas
{
  text-align: center;
}


/* D3 Equation Graph
------------------------------------*/
path
{
    fill: none;
    stroke: #17a2b8;
}

.axis path, line
{
    stroke: #aaa;
    shape-rendering: crispEdges;
}
.axis text
{
    fill: #aaa;
    font-size: 11px;
}
.graph
{
		background-color: white;
		display: table;
		max height: 400px;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		border-style: solid;
		border-color: #17a2b8;
		border-radius: 2%;
}
.numLine
	{
		background-color: white;
		display: table;
		max height: 400px;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		border-style: solid;
		border-color: #17a2b8;
	}
